 <!--301310019- Prabhjot Malhi Singh  Web  Application Development -->
 <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    
</body>

</html>