<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container" style="background: url('/Assests/background2.jpeg') no-repeat center center; background-size: cover;">
  <div class="jumbotron" style="background-color: rgba(255, 255, 255, 0.8); margin: 20px; border-radius: 15px; padding: 20px;">
    <h1 class="display-4" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      Hi I am Prabhjot Malhi Singh
    </h1>

    <blockquote style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: xx-large;">
      <b>"Welcome to My Portfolio"</b>
    </blockquote>

    <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;">
      I am a aspiring software developer with a comprehensive skill set in design, development, and testing, grounded in Agile and traditional methodologies.
       My collaborative nature and detail-oriented mindset enhance my work in web, mobile, and cloud development, and IT project management. 
       Proficient in languages like C#, Java, and Python, and equipped with current technologies, I am ready to address complex challenges and add value to any team.






    </p>
  </div>
</main>

<!-- Bottom nav and script section -->
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
